<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="text">
        {{text.signup_title}}
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <form #form="ngForm" (ngSubmit)="signup(form.value)">
    <ion-input type="hidden" name="phone" ngModel value="{{phone}}"></ion-input>
                
    <div class="form">
      <ion-list lines="none">
          <ion-item lines="none" class="animate__animated animate__fadeInUp">
              <div class="item_inner d-flex">
                  <div class="icon_box ion-text-start"><img src="assets/ic_name.png"></div>
                  <div class="input_box">
                      <ion-label mode="md" position="stacked">Nombre Completo</ion-label>
                      <ion-input mode="md" type="text" clearInput name="name" ngModel placeholder="Sam Smith" required></ion-input>
                  </div>
              </div>
          </ion-item>

          <ion-item lines="none" class="animate__animated animate__fadeInUp">
              <div class="item_inner d-flex">
                  <div class="icon_box ion-text-start"><img src="assets/ic_mail.png"></div>
                  <div class="input_box">
                      <ion-label mode="md" position="stacked">Email</ion-label>
                      <ion-input mode="md" type="email" clearInput name="email" ngModel placeholder="SamSmith@mail.com" required></ion-input>
                  </div>
              </div>
          </ion-item>
          

          <ion-item lines="none" class="animate__animated animate__fadeInUp">
              <div class="item_inner d-flex">
                  <div class="icon_box ion-text-start"><img src="assets/ic_pass.png"></div>
                  <div class="input_box">
                      <ion-label mode="md" position="stacked">Contraseña</ion-label>
                      <ion-input mode="md" type="password" clearInput name="password" ngModel placeholder="**********" required></ion-input>
                  </div>
              </div>
          </ion-item> 
      </ion-list>
    </div>
    
    <div class="code_ref animate__animated animate__fadeInUp">
      <label>Código de afiliación</label>
      <ion-input name="refered" ngModel placeholder="Si cuenta con un Código de afiliación ingresalo aqui."></ion-input>
    </div>

    <ion-button class="btn_next" *ngIf="isKeyboardHide" [disabled]="!form.valid" type="submit" color="dark" shape="round" style="--border-radius:25px;">
      Registrarse
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </form>
</ion-content>
