

.header {
    box-shadow: none;
    margin: 0 !important;

    ion-card-header {

        ion-card-title {
            max-width: 80%;
            font-size: 32px;
            font-weight: 700;
        }
    }
}
