<ion-content class="bg_color" >
    
    <div class="banner animate__animated animate__fadeInUp">
        <div class="logo ion-text-center">
            <img src="assets/icon_wel.png" >
        </div>
    </div>

    <div class="social_btns animate__animated animate__zoomInUp">
        <ion-button class="phone" (click)="LoginSignup()">
            <ion-icon name="call-outline"></ion-icon>
            <span>Ingresar con tu celular</span>
        </ion-button>

        <ion-button class="fb" (click)="fbLogin()">
            <ion-icon name="logo-facebook"></ion-icon>
            <span>Ingresar con Facebook</span>
        </ion-button>

        <ion-button class="new" (click)="Signup()">
            <ion-icon name="person-circle-outline"></ion-icon>
            <span>Crear nueva cuenta</span>
        </ion-button>
    </div>
</ion-content>
  